.latest_container{
    margin-top: 5%;
    background-color: #0000001f;
    border-radius: 6px;
    /*background-color: red;*/
    /*height: 200px;*/
}
.latest_heading{
    color: #563d7c;
    padding: 10px 0;
    border-bottom: 1px solid #563d7c5c;

}


@media screen and (max-width: 1024px) {
    .latest_container{
        width: 85%;
    }
}