.vertical_menu{
    position: absolute;
    height: 100vh;
    width: 30%;
    background-color: #563d7c;
    top: -100vh;
    opacity: 0;
    right: 0;

}
.vertical_menu .search_cont {
    width: 80%;
}
.close_arrow{
    font-size: 50px;
}
.showMenu{
    opacity: 1;
    top: 0;
    animation: show .2s;
}
@keyframes show{
    from{
        opacity: 0;
        top: -100vh;
    }
    to{
        opacity: 1;
        top: 0;
    }
}



@media screen and (max-width: 750px) {
    .vertical_menu{
        width: 40%;
    }
}
@media screen and (max-width: 500px) {
    .vertical_menu{
        width: 60%;
    }
}